<div id="community" class="module hidden">
    <div class="panel" style="min-width: 100%;">
        <h3>
            Créer un compte email
        </h3>
        <p>Tu peux créer un compte mail pour une nouvelle recrue de la communauté si elle a créé sa fiche GitHub.</p>
        <form class="no-margin" action="/users/emailAccount" method="POST">
            <div class="form__group">
                <label>Email à créer</label>
                <input placeholder="prenom.nom" style="width: auto;" pattern="[a-z0-9_-]+.[a-z0-9_-]+" name="email_id" required  list="user_ids"> @<%= domain %>
                <datalist id="user_ids">
                <% users.forEach(function(user) { %>
                    <option value="<%= user.id %>">
                <% }) %>
                </datalist>
            </div>

            <div class="form__group">
                <label><span style="color: rgb(38, 53, 63)">Email personnel ou professionnel</span><br />Le mot de passe et les informations de connexion seront envoyées à cet email</label>
                <input name="to_email" type="email" required>
            </div>
            <div class="form__group">
            <button class="button" type="submit">Créer l'email</button>
            </div>
        </form>
    </div>

    <div class="panel" style="min-width: 100%;">
        <h3>
            Liste des emails
        </h3>

        <table class="sortable"><!-- why not use 'table' class as well ? conflicts 'sortable' class (thead) -->
            <thead>
              <tr>
                <th>Email</th>
                <th>Fiche sur Github</th>
                <th>Date de fin OK</th>
                <th>Compte Email</th> 
                <th>Redirections</th>
              </tr>
            </thead>
            <tbody>
              <% emails.forEach(function(email) { %>
                <tr>
                  <td><%= email.email %></td>
                  <td><% if (email.github) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
                  <td><% if (!email.expired) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
                  <td><% if (email.account) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
                  <td data-id="<%= email.id %>" class="cell-redirections">
                    <button data-id="<%= email.id %>" class="button-underline button-redirections button-outline small primary">Afficher les redirections</button>
                  </td> 
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>

    <div class="panel" style="min-width: 100%;">
        <h3>
            Comptes expirés
        </h3>

        <table class="sortable"><!-- why not use 'table' class as well ? conflicts 'sortable' class (thead) -->
            <thead>
              <tr>
                <th>Id</th>
                <th>Date de fin</th>
                <th>Compte Email</th> 
                <th>Fiche sur Github</th>
              </tr>
            </thead>
            <tbody>
              <% expiredEmails.forEach(function(email) { %>
                <tr>
                  <td><%= email.id %></td>
                  <td><% if (email.endDate) { %><%= email.endDate %><% } else { %>❌ Non !<% } %></td>
                  <td><% if (email.account) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
                  <td><% if (email.github) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>

</div>
