<%- include('partials/nav-header'); -%>

<div class="module">
    <div class="row">
        <div class="panel panel-partial-width">
            <div class="account-split-panel">
                <div>
                    <h3>
                        Ma fiche
                    </h3>
                    <% if (userInfos) { %>
                    <p class="text-color-blue font-weight-bold"><%= userInfos.fullname %></p>
                    <% } %>
                    <% if (userInfos.start) { %>
                    <p>
                        <span class="font-weight-bold">Mission :</span>
                        du <%= userInfos.start %>
                        <% if (userInfos.end) { %> au <%= userInfos.end %><% } %>
                    </p>
                    <% } %>
                    <% if (userInfos.employer) { %>
                    <p>
                        <span class="font-weight-bold">Employeur : </span> <%= userInfos.employer %>
                    </p>
                    <% } %>
                    <% if (userInfos.github) { %>
                    <p>
                        <span class="font-weight-bold">Compte Github : </span>
                        <% if (userInfos.github) { %>
                        <a href="https://github.com/<%= userInfos.github %>"><%= userInfos.github %></a>
                        <% } else { %>
                            Non renseigné
                        <% } %>
                    </p>
                    <% } %>
                </div>
                <div class="account-split-panel-shrink">
                    <img width="100%" src="/static/images/logo-betagouv.jpg" />
                </div>
            </div>
            <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Modifier sur Github</a>
        </div>
        <div class="panel margin-top-0">
            <h3>
                Besoin d'aide ?
            </h3>
            <a href="https://doc.incubateur.net/" target="_blank" class="button no-margin">Voir le <span class="font-weight-bold">guide de la communauté</span></a>
            <h4>
                Parler avec un humain ?
            </h4>
            <p>
            <% if(marrainageState) { %>
                <% if (marrainageState.completed) { %>
                    Tu peux peut parler à ton ou ta marrain·e qui est <b><%= marrainageState.last_onboarder %></b>.
                <% } else { %>
                    Nous avons demandé à <b><%= marrainageState.last_onboarder %></b> de devenir ton ou ta marrain·e, nous attendons sa réponse. 
                <% } %>
            <% } else { %>
                    Tu peux inviter quelqu'un·e à devenir ton ou ta marrain·e.            
            <% } %>
                Son role est de t'accompagner dans tes démarches et t'aider
                    à t'orienter au sein de la communauté.
                </p>
            <% if(!marrainageState) { %>
                <form class="no-margin" action="/marrainage" method="POST">
                    <div class="form__group">
                    <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                    </div>
                    <button class="button secondary no-margin" type="submit">Chercher un·e marrain·e</button>
                </form>
            <% } %>
        </div>
    </div>


    <div class="row">
        <div class="panel panel-full-width">
            <h3>
                Mon email
            </h3>
            <% if (emailInfos) { %>
                <p class="font-weight-bold text-color-blue"><%= emailInfos.email %></p>
            <% } %>
            <h6 class="margin-10-0">Accéder au webmail</h6>
            <p>
                Tu peux consulter tes mails directement sur l'interface d'OVH. Elle n'est pas très
                confortable mais ça peut être une bonne solution pour dépanner, ou quand tu n'a pas
                accès à ton client web habituel
            </p>
            <a href="https://mail.ovh.net/roundcube/?_user=<%= userInfos.id %>@<%= domain %>" target="_blank" class="button no-margin">Webmail</a>


            <hr />
            <h6 class="margin-10-0">Rediriger vers une autre adresse mail</h6>

            <% redirections.forEach(function(redirection) { %>
                <div class="redirection-item">
                <%= redirection.to %>
                <% if (canCreateRedirection) { %>
                    <form class="redirection-form" action="/users/<%= userInfos.id %>/redirections/<%= redirection.to %>/delete" method="POST">
                    <button class="redirection-remove button-outline small warning" type="submit">Supprimer</button>
                    </form>
                <% } %>
                </div>
            <% }) %>
            <% if (redirections.length === 0) { %>
                <p><strong>Aucune</strong></p>
            <% } %>
              <% if (canCreateRedirection) { %>
                <form class="no-margin" action="/users/<%= userInfos.id %>/redirections" method="POST">
                    <div class="form__group">
                        <label for="to_email">Rediriger mes mails <%= domain %> vers :</label>
                        <input name="to_email" type="email" required>
                    </div>
                    <div class="input__group margin-10-0">
                      <input type="checkbox" name="keep_copy" value="true">
                      <label>Garder une copie des emails si un compte existe</label>
                    </div>
                    <button class="button no-margin" type="submit">Ajouter la redirection</button>
                </form>
              <% } else { %>
                <% if (isExpired) { %>
                  <div class="notification error">
                    Le compte <%= userInfos.id %> est expiré.
                  </div>
                <% } else { %>
                  <div class="notification warning">
                    Seul <%= userInfos.id %> peut créer ou modifier les redirections.
                  </div>
                <% } %>
              <% } %>


            <hr />
            <h6 class="margin-10-0">Configurer son client mail</h6>
            <a href="https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter" target="_blank">Documentation de configuration du webmail</a>

            <hr />
            <h6 class="margin-10-0">Changer le mot de passe</h6>
            <p>
                Nouveau mot de passe POP/IMAP/SMTP :<br .>
                Le mot de passe doit comporter entre 9 et 30 caractères, pas d'accents, et pas
                d'espace au début ou à la fin.
            </p>
            <% if (canChangePassword) { %>
                <form class="no-margin" action="/users/<%= userInfos.id %>/password" method="POST">
                    <input name="new_password" type="password" minlength="9" required>
                    <button class="button margin-10-0" type="submit">Changer</button>
                </form>
              <% } %>
        </div>
    </div>
</div>
<%- include('partials/nav-footer'); -%>
