<%- include('partials/nav-header'); -%>

<link rel="stylesheet" media="screen,print" href='/static/collapse/collapse.css'>
<script src="/static/collapse/collapse.js"></script>

<div class="module">

    <div class="row">
        <div class="panel panel-partial-width">
            <div class="account-split-panel">
                <div>
                    <h3>
                        Ma fiche
                    </h3>
                    <% if (userInfos) { %>
                    <p class="text-color-blue font-weight-bold"><%= userInfos.fullname %></p>
                    <% } %>
                    <% if (userInfos.start) { %>
                    <p>
                        <span class="font-weight-bold">Mission :</span>
                        du <%= new Date(userInfos.start).toLocaleDateString('fr-FR') %>
                        <% if (userInfos.end) { %> au <%= new Date(userInfos.end).toLocaleDateString('fr-FR') %><% } %>
                    </p>
                    <% } %>
                    <% if (userInfos.employer) { %>
                    <p>
                        <span class="font-weight-bold">Employeur : </span> <%= userInfos.employer %>
                    </p>
                    <% } %>
                    <% if (userInfos.github) { %>
                    <p>
                        <span class="font-weight-bold">Compte Github : </span>
                        <% if (userInfos.github) { %>
                        <a href="https://github.com/<%= userInfos.github %>"><%= userInfos.github %></a>
                        <% } else { %>
                            Non renseigné
                        <% } %>
                    </p>
                    <% } %>
                    <p>
                        <span class="font-weight-bold">Email secondaire : </span> <%= secondaryEmail || 'Non renseigné' %>
                    </p>
                </div>
                <div class="account-split-panel-shrink">
                    <img width="100%" src="/static/images/logo-betagouv.jpg" />
                </div>
            </div>
            <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Modifier sur Github</a>
        </div>
        <div class="panel margin-top-0">
            <h3>
                Besoin d'aide ?
            </h3>
            <a href="https://doc.incubateur.net/" target="_blank" class="button no-margin">Voir le <span class="font-weight-bold">guide de la communauté</span></a>
            <h4>
                Parler avec un humain ?
            </h4>
            <p>
            <% if(marrainageState) { %>
                <% if (marrainageState.completed) { %>
                    Tu peux peut parler à ton ou ta marrain·e qui est <strong><%= marrainageState.last_onboarder %></strong>.
                <% } else { %>
                    Nous avons demandé à <strong><%= marrainageState.last_onboarder %></strong> de devenir ton ou ta marrain·e, nous attendons sa réponse. 
                <% } %>
            <% } else { %>
                    Tu peux inviter quelqu'un·e à devenir ton ou ta marrain·e.            
            <% } %>
                Son role est de t'accompagner dans tes démarches et t'aider
                    à t'orienter au sein de la communauté.
            </p>
            <% if(!marrainageState) { %>
                <form class="no-margin" action="/marrainage" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                    <div class="form__group">
                        <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                    </div>
                    <button class="button secondary no-margin" type="submit">Chercher un·e marrain·e</button>
                </form>
            <% } else if(!marrainageState.completed) { %>
                Essai numéro <%= marrainageState.count %>, procédure lancé le <%= marrainageState.created_at.toLocaleDateString('fr-FR') %>, dernière mise à jour <%= marrainageState.last_updated.toLocaleDateString('fr-FR') %>.
                <div class="form__group margin-10-0 display-flex">
                    <% if( Date.now() - marrainageState.last_updated.valueOf() > 24*3600*1000 ) { %>
                        <form class="margin-right-10" action="/marrainage/reload" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                            <button class="button secondary no-margin" type="submit">Relancer</button>
                        </form>
                    <% } %>
                    <form class="margin-right-10" action="/marrainage/cancel" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                        <button class="button secondary no-margin" type="submit">Annuler</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-full-width">
            <h3>
                Mon email
            </h3>
            <% if (emailInfos) { %>
                <p class="font-weight-bold text-color-blue"><%= emailInfos.email %></p>
            <% } %>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false">
                        Configurer mon client mail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>Configure ton client mail préféré (Mail, Thunderbird, Mailspring, Microsoft Courier, Gmail, etc) pour recevoir et envoyer des emails :</p>

                    <a href="https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter" target="_blank" class="button no-margin">Documentation de configuration du webmail</a>
                    <hr />
                </div>
            </div>


            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false">
                        Changer mon mot de passe
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <% if (canChangePassword) { %>
                        <p>
                            Nouveau mot de passe POP/IMAP/SMTP :<br />
                            Le mot de passe doit comporter entre 9 et 30 caractères, pas d'accents, et pas
                            d'espace au début ou à la fin.
                        </p>

                        <form class="no-margin" action="/users/<%= userInfos.id %>/password" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <input name="new_password" type="password" minlength="9" required>
                            <button class="button margin-10-0" type="submit">Changer</button>
                        </form>
                    <% } else { %>
                        <p>Sans compte email, vous n'avez pas la possibilité de changer de mot de passe.</p>
                    <% } %>
                    <hr />
                </div>
            </div>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false">
                        Accéder au webmail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        Tu peux consulter tes mails directement sur l'interface d'OVH. Elle n'est pas très
                        confortable mais ça peut être une bonne solution pour dépanner, ou quand tu n'a pas
                        accès à ton client web habituel.
                    </p>
                    <a href="https://mail.ovh.net/roundcube/?_user=<%= userInfos.id %>@<%= domain %>" target="_blank" class="button no-margin">Webmail</a>
                    <hr />
                </div>
            </div>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false">
                        Rediriger vers une autre adresse mail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>🚨 Il n'est pas recommandé d'utiliser les redirections : <b>certains de tes messages seront perdus</b>. Mais une redirection peut être utile en complément d'une récupération <i>POP</i> ou d'une application type Frontapp.</p>
                    <% redirections.forEach(function(redirection) { %>
                        <div class="redirection-item">
                            <%= redirection.to %>
                            <% if (canCreateRedirection) { %>
                                <form class="redirection-form" action="/users/<%= userInfos.id %>/redirections/<%= redirection.to %>/delete" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                <button class="redirection-remove button-outline small warning" type="submit">Supprimer</button>
                                </form>
                            <% } %>
                        </div>
                    <% }) %>
                    <% if (canCreateRedirection) { %>
                        <!--
                        <form class="no-margin" action="/users/<%= userInfos.id %>/redirections" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <div class="form__group">
                                <label for="to_email">Rediriger mes mails <%= domain %> vers :</label>
                                <input name="to_email" type="email" required>
                            </div>
                            <div class="input__group margin-10-0">
                            <input type="checkbox" name="keep_copy" value="true">
                            <label>Garder une copie des emails si un compte existe</label>
                            </div>
                            <button class="button no-margin" type="submit">Ajouter la redirection</button>
                        </form>
                        -->
                    <% } else { %>
                        <% if (isExpired) { %>
                        <div class="notification error">
                            Le compte <%= userInfos.id %> est expiré.
                        </div>
                        <% } else { %>
                        <div class="notification warning">
                            Seul <%= userInfos.id %> peut créer ou modifier les redirections.
                        </div>
                        <% } %>
                    <% } %>
                    <hr />
                </div>
            </div>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false">
                        Configurer mon email secondaire
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        L'email secondaire est utile pour récupérer son mot de passe ou garder contact après ton départ.
                    </p>
                    <% if (!secondaryEmail) { %>
                    <form class="no-margin" action="/users/<%= userInfos.id %>/secondary_email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <input id="secondaryEmail" name="secondaryEmail" type="email">
                        <button class="button margin-10-0" type="submit">Sauvegarder l'email secondaire</button>
                    </form>
                    <% } else { %>
                        <% if (canChangeSecondaryEmail) { %>
                            <form class="no-margin" action="/users/<%= userInfos.id %>/secondary_email/update" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                <input id="newSecondaryEmail" name="newSecondaryEmail" value="<%= secondaryEmail %>" type="email">
                                <button class="button margin-10-0" type="submit">Modifier l'email secondaire</button>
                            </form>
                        <% } %>
                    <% } %>
                    <hr />
                </div>
            </div>

        </div>
    </div>

    <% if(emailInfos || (redirections && redirections.length > 0)) { %>
        <div class="panel">
            <h3>❗ Clôturer mon compte</h3>
            <p>Si tu as quitté la communauté, clôture ton compte :</p>

            <ul>
                <li>
                    Clôturer ton compte email
                </li>
                <li>
                    Supprimer toutes tes redirections
                </li>
            </ul>
            <form onsubmit="const proceed = confirm('Es-tu sûr de vouloir supprimer ton compte email et ses redirections ?'); event.submitter && (event.submitter.disabled = proceed); return proceed;" class="no-margin" action="/users/<%= userInfos.id %>/email/delete" method="POST">
                <div class="form__group">
                    <button class="button margin-right-10" type="submit">Clotûrer mon compte</button>
                </div>
            </form>
        </div>
    <% } %>

</div>

<%- include('partials/nav-footer'); -%>
