<%- include('partials/nav-header'); -%>
<div class="module">

    <div class="panel panel-full-width">
        <h3>
            Rechercher
        </h3>
        <form class="no-margin" action="/community">
            <div class="form__group">
                <label><strong>Nom ou prénom du membre</strong></label>

                <input name="username_list" list="user_fullnames" id="username_list">
                <datalist id="user_fullnames">
                <% users.forEach(function(user) { %>
                    <option data-value="<%= user.id %>" value="<%= user.fullname %>">
                <% }) %>
                </datalist>
                <input type="hidden" name="username" id="username_input_hidden">
            </div>
            <div class="form__group">
                <button class="button no-margin" type="submit">Voir la fiche</button>
            </div>
        </form>
        <script>
            document.getElementById('username_list').addEventListener('input', (e) => {
                const input = e.target
                const hiddenInput = document.getElementById('username_input_hidden')
                const options = document.querySelectorAll('#user_fullnames option')

                for (let i = 0; i < options.length ; i++) {
                    const option = options[i]
                    if (option.value === input.value.trim() && option.hasAttribute('data-value')) {
                        hiddenInput.value = option.getAttribute('data-value')
                    }
                }
            })
            </script>
        <br />
        <p>
            Le membre que vous cherchez n'existe pas ? Vous pouvez créer sa fiche Github <a href="/onboarding">en cliquant ici</a>.
        </p>
    </div>


    <div class="panel panel-full-width">
        <h3>
            Créer un compte email
        </h3>
        <p>Tu peux créer un compte mail pour une nouvelle recrue de la communauté si elle a créé sa fiche GitHub.</p>
        <form id="email-creation" class="no-margin" method="POST">
            <div class="form__group">
                <label>Email à créer</label>
                <input name="email_id" class="width-auto" placeholder="prenom.nom" pattern="[a-z0-9_-]+.[a-z0-9_-]+" list="user_ids" required> @<%= domain %>
                <datalist id="user_ids">
                <% users.forEach(function(user) { %>
                    <option value="<%= user.id %>">
                <% }) %>
                </datalist>
            </div>

            <div class="form__group">
                <label><span class="text-color-almost-black">Email personnel ou professionnel</span><br />Le mot de passe et les informations de connexion seront envoyées à cet email</label>
                <input name="to_email" type="email" required>
            </div>
            <div class="form__group">
            <button class="button no-margin" type="submit">Créer l'email</button>
            </div>
        </form>
        <script>
            const emailCreationForm = document.getElementById('email-creation')
            emailCreationForm.addEventListener('submit', (e) => {
                const emailId = e.target.email_id.value
                e.target.action = '/users/' + emailId + '/email'
            })
        </script>
    </div>

</div>
<%- include('partials/nav-footer'); -%>
