<%- include('partials/header'); -%>

<link rel="stylesheet" media="screen,print" href='/static/sortable/sortable.css'>
<script src="/static/sortable/sortable.js"></script>
<style media="screen">
  #message { max-width: 1250px; overflow: scroll; }
</style>

<% if (errors) { %>
  <p class="text-error"><%= errors %><p>
<% } %>

<table class="sortable">
  <thead>
    <tr>
      <th>Email</th>
      <th>Fiche sur Github</th>
      <th>Date de fin OK</th>
      <th>Compte Email</th> 
      <th>Redirections</th>
    </tr>
  </thead>
  <tbody>
    <% emails.forEach(function(email) { %>
      <tr>
        <td><%= email.email %></td>
        <td><% if (email.github) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
        <td><% if (email.expired) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
        <td><% if (email.account) { %>✔ Oui<% } else { %>❌ Non !<% } %></td>
        <td>
          <ul>
            <% email.redirections.forEach(function(redirection) { %>
              <li><%= redirection %></li>
            <% }) %>
          </ul>
        </td> 
      </tr>
    <% }) %>
  </tbody>
</table>

<%- include('partials/footer'); -%>
