<%- include('partials/header'); -%>

<div class="container container-small">

  <p>
    Gère ton compte email (mot de passe, redirections, etc) et les membres de la communauté (arrivées et départs).
  </p>

  <% if (errors.length) { %>
    <div class="notification error">
      <strong>Erreur : </strong><%= errors %>
    </div>
  <% } %>

  <div class="panel margin-top-m">
    <h4>Me connecter</h4>

    <% if (messages.length) { %>
      <div class="notification"><%= messages %></div>
    <% } else { %>
      <form action="/login<%= nextParam %>" method="POST" id="login_form" onsubmit="event.submitter && (event.submitter.disabled = true);">
        <label for="username">Adresse email :</label>
        <div class="input__group">
          <input name="username" class="width-50" placeholder="prenom.nom" pattern="[a-z0-9_-]+\.[a-z0-9_-]+" autocomplete="username">
          <span class="padding-10">@<%= domain %></span>
        </div>
        <input type="hidden" name="useSecondaryEmail" id="secondary_email_input" value="" />
        <button class="button" id="primary_email_button">Recevoir le lien de connexion</button>
        <span>Ce lien sera valable 1h.</span>

        <div class="margin-10-0">
          <a id="secondary_email_button">
            Recevoir le lien de connexion à mon adresse secondaire
          </a>
        </div>
      </form>
      <script>
        const secondaryEmailInput = document.getElementById('secondary_email_input');
        const loginForm = document.getElementById('login_form');
        document.getElementById('primary_email_button').addEventListener('click', () => {
          secondaryEmailInput.value = '';
          loginForm.submit();
        })
        document.getElementById('secondary_email_button').addEventListener('click', () => {
          secondaryEmailInput.value = true;
          loginForm.submit();
        })
      </script>
    <% } %>
  </div>

  <div class="panel border-left-primary">
    <h6>👋&nbsp;Tu viens d'arriver ?</h6>
    Crée ta fiche Github pour qu'un membre de la communauté puisse la valider. Ton adresse email @<%= domain %> sera alors automatiquement créée.<br />
    <a class="button" href="/onboarding" role="button">Créer ma fiche Github</a>
  </div>

  <div class="panel border-left-primary">
      <h6>⚠️&nbsp;Problème d'accès à ton adresse @<%= domain %> ?</h6>
      Si tu as <strong>oublié ton mot de passe</strong> : demande de l'aide sur le Slack #incubateur-secretariat, un des administrateurs pourra t'aider.<br />
      Si tu as besoin d'aide pour <strong>configurer ton client webmail</strong> : regarde la <a href="https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter" target="_blank" title="lien vers la documentation pour se connecter à sa boite mail">documentation de l'incubateur</a>.
  </div>
</div>

<%- include('partials/footer'); -%>
