<%- include('partials/header'); -%>

<div class="container container-small">

  <p>
    Le secrétariat te permet de gérer ton compte (email, mot de passe, redirections, etc).
    Tu peux aussi créer une adresse pour un nouveau membre de la communauté.
  </p>

  <% if (errors.length) { %>
    <div class="notification error">
      <strong>Erreur : </strong><%= errors %>
    </div>
  <% } %>

  <div class="panel margin-top-m">
    <h4>Me connecter</h4>

    <% if (messages.length) { %>
      <div class="notification"><%- messages %></div>
    <% } else { %>
      <form action="/login<%= nextParam %>" method="POST">
        <label for="username">Adresse email :</label>
        <div class="input__group">
          <input name="username" class="width-50" placeholder="prenom.nom" pattern="[a-z0-9_-]+\.[a-z0-9_-]+" autocomplete="username">
          <span class="padding-10">@<%= domain %></span>
        </div>
        <button class="button" type="submit">Recevoir le lien de connexion</button>
        <span>Ce lien sera valable 1h.</span>
      </form>
    <% } %>
  </div>

  <div class="panel border-left-primary">
    ℹ️&nbsp;<strong>Nouvel·le arrivant·e ?</strong><br>
    <a class="button" href="/onboarding" role="button">Créer ma fiche Github</a>
  </div>
  <div class="panel border-left-primary">
      ℹ️&nbsp;<strong>Pas encore d'adresse @<%= domain %> ?</strong><br>
      Tu peux demander à une autre personne qui en a une de te la créer.
      Plus d'informations <a href="https://doc.incubateur.net/communaute/outils/emails#creer-un-compte-email-a-un-nouveau-membre" target="_blank" title="lien vers la documentation pour créer un compte email">sur la documentation de l'incubateur</a>.
  </div>
  <div class="panel border-left-primary">
      ℹ️&nbsp;<strong>Problème d'accès à ton adresse @<%= domain %> ?</strong><br>
      Si tu as oublié ton mot de passe : demande de l'aide sur le Slack #incubateur-secretariat, un des administrateurs pourra t'aider.<br />
      Si tu as besoin d'aide pour configurer ton client webmail : regarde la <a href="https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter" target="_blank" title="lien vers la documentation pour se connecter à sa boite mail">documentation de l'incubateur</a>.
  </div>
</div>

<%- include('partials/footer'); -%>
