<%- include('partials/nav-header'); -%>
<div class="module">

<% if(isExpired && (emailInfos || (redirections && redirections.length > 0))) { %>
    <div class="panel">
        <h3>❗ Contrat de <%= userInfos.fullname %> arrivé à expiration</h3>

        <p>Le contrat de <%= userInfos.fullname %> est arrivé à terme le <strong><%= userInfos.end %></strong>.</p>
        <p>Si <%= userInfos.fullname %> a effectivement quitté la communauté, clôturez son compte :</p>

        <ul>
            <li>
                Clôturer son compte email
            </li>
            <li>
                Supprimer toutes ses redirections
            </li>
        </ul>
        <form onsubmit="return confirm('Es-tu sûr de vouloir supprimer ton compte email et ses redirections pour <%= userInfos.fullname %> ?');" class="no-margin" action="/users/<%= requestedUserId %>/email/delete" method="POST">
            <div class="form__group">
                <button class="button margin-right-10" type="submit">Clotûrer le compte</button>
                <a href="https://github.com/betagouv/beta.gouv.fr/blob/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Mettre à jour le contrat</a>
            </div>
        </form>
    </div>
<% } %>

    <div class="panel">
        <% if(userInfos) { %>
            <div>
                <h3>
                    <%= userInfos.fullname %>
                </h3>
                <% if (userInfos.start) { %>
                <p>
                    <span class="font-weight-bold">Mission :</span>
                    du <%= userInfos.start %>
                    <% if (userInfos.end) { %> au <%= userInfos.end %><% } %>
                </p>
                <% } %>
                <% if (userInfos.employer) { %>
                <p>
                    <span class="font-weight-bold">Employeur : </span> <%= userInfos.employer %>
                </p>
                <% } %>
                <p>
                    <span class="font-weight-bold">Compte Github : </span> 
                    <% if (userInfos.github) { %>
                        <a href="https://github.com/<%= userInfos.github %>"><%= userInfos.github %></a>
                    <% } else { %>
                        Non renseigné
                    <% } %>
                </p>
                <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= requestedUserId %>.md" target="_blank">Modifier sur Github</a> 
            </div>
        <% } else { %>
            <p>Il n'y a de fiche pour ce membre sur github</p>
            <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/new/master/content/_authors/?filename=<%= requestedUserId %>.md" target="_blank">Créer sur Github</a>
        <% } %>
    </div>

    <div class="panel">
        <% if(userInfos) { %>
            <% if(marrainageState) { %>
                <h3>Marrainage</h3>

                <% if (marrainageState.completed) { %> 
                  <p>
                      Marrain·e : <b><%= marrainageState.last_onboarder %></b>.
                  </p>
                <% } else { %>
                  <p>
                  Marrain·e en attente de réponse : <b><%= marrainageState.last_onboarder %></b><br>
                  Essai numéro <%= marrainageState.count %>, procédure lancé le <%= marrainageState.created_at.toLocaleDateString() %>, dernière mise à jour <%= marrainageState.last_updated.toLocaleDateString() %>.
                  </p>
                  <div class="form__group margin-10-0 display-flex">
                    <% if( Date.now() - marrainageState.last_updated.valueOf() > 24*3600*1000 ) { %>
                        <form class="margin-right-10" action="/marrainage/reload" method="POST">
                            <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                            <button class="button secondary no-margin" type="submit">Relancer</button>
                        </form>
                    <% } %>
                    <form class="margin-right-10" action="/marrainage/cancel" method="POST">
                        <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                        <button class="button secondary no-margin" type="submit">Annuler</button>
                    </form>
                </div>
                <% } %>
            <% } else { %>
              <h3>L'accueillir ?</h3>
              <form class="no-margin" action="/marrainage" method="POST">
                  <div class="form__group margin-10-0">
                      <label><%= userInfos.fullname %> vient d'arriver dans la communauté ? Tu peux inviter quelqu'un à devenir son ou sa marrain·e.
                          Cela lui permettra de rencontrer des membres de la communauté en dehors de son équipe.
                      <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                  </div>
                  <button class="button no-margin" type="submit">Chercher un·e marrain·e</button>
              </form>
            <% } %>
        <% } else { %>
            <p>Sans fiche sur Github, la fonction marrainage n'est pas disponible.</p>
        <% } %>
    </div>

    <div class="panel">
        <h3>Compte mail</h3>

        <% if (emailInfos) { %>
        <p class="text-color-darker-grey font-weight-bold"><%= emailInfos.email %></p>
        <% }%>
        <% if (canCreateEmail) { %>
        <p>Tu peux créer un compte mail pour <%= userInfos.fullname %>.</p>
        <form class="no-margin" action="/users/<%= requestedUserId %>/email" method="POST">
            <div class="form__group">
                <label><span class="text-color-almost-black">Email personnel ou professionnel</span><br />Le mot de passe et les informations de connexion seront envoyées à cet email</label>
                <input name="to_email" type="email" required>
            </div>
            <div class="form__group">
                <button class="button no-margin" type="submit">Créer un compte</button>
            </div>
        </form>
        <% } else { %>
        <% if (isExpired) { %>
        <div class="notification error">
            Le compte <%= requestedUserId %> est expiré.
        </div>
        <% } %>
        <% } %>
        <div class="text-color-blue font-weight-bold">Redirections</div>
        <% redirections.forEach(function(redirection) { %>
        <div class="redirection-item">
            <%= redirection.to %>
        </div>
        <% }) %>
        <% if (redirections.length === 0) { %>
        <strong>Aucune</strong>
        <% } %>
    </div>
</div>
<%- include('partials/nav-footer'); -%>
