<%- include('partials/header'); -%>

<div class="container container-small">

    <% if (errors.length) { %>
    <div class="notification error">
        <% errors.forEach(function(error) { %>
            <li><%= error %></li>
        <% }) %>
    </div>
    <% } %>

    <% if (messages.length) { %>
    <div class="notification"><%- messages %></div>
    <% } %>

    <div class="panel margin-top-m">
        <h3>Créer ma fiche Github</h3>

        <p>
            Bienvenue dans la communauté 👋 !<br>
            Créer ta fiche Github est la première étape pour avoir accès aux différents outils de la communauté.
        </p>

        <div class="beta-banner"></div>

        <form action="/onboarding" method="POST">
            <h4>Tes infos persos</h4>

            <div class="form__group">
                <p>
                    Tes informations personnelles seront affichés sur la page <a href="https://beta.gouv.fr/communaute/" target="_blank">Communauté</a> du site BetaGouv, ainsi que dans la fiche de ta startup.
                </p>
                <label for="firstName">
                    <strong>Prénom (obligatoire)</strong>
                </label>
                <input name="firstName" value="<%= formData.firstName %>" required>
                <label for="lastName">
                    <strong>Nom de famille (obligatoire)</strong>
                </label>
                <input name="lastName" value="<%= formData.lastName %>" required>
            </div>

            <div class="form__group">
                <label for="description">
                    <span>Courte bio</span><br />
                    Raconte-nous qui tu es dans une phrase percutante !
                    <textarea rows="2" name="description"><%= formData.description %></textarea>
                </label>
            </div>

            <div class="form__group">
                <label for="website">
                    <span>Site personnel</span>
                </label>
                <input name="website" value="<%= formData.website %>">
            </div>

            <div class="form__group">
                <label for="github">
                    <span>Utilisateur Github</span><br />
                    Si tu as un compte, tu peux être ajouté à l'organisation Github BetaGouv.
                </label>
                <input name="github" value="<%= formData.github %>">
            </div>


            <h4>Ta mission</h4>
            <div class="form__group">
                <label for="role">
                    <strong>Rôle chez BetaGouv (obligatoire)</strong><br />
                    Développeuse, Intrapreneur, Chargée de déploiement, Coach, UX Designer...
                </label>
                <input name="role" value="<%= formData.role %>" required>
            </div>

            <div class="form__group">
                <label for="start">
                    <strong>Début de la mission (obligatoire)</strong><br />
                    Au format JJ/MM/YYYY
                </label>
                <input type="date" name="start" pattern="^\d{4}-\d{2}-\d{2}$" min="<%= memberConfig.minStartDate %>" value="<%= formData.start %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
            </div>

            <div class="form__group">
                <label for="end">
                    <strong>Fin de la mission (obligatoire)</strong><br />
                    Au format JJ/MM/YYYY
                </label>
                <input type="date" name="end" pattern="^\d{4}-\d{2}-\d{2}$" value="<%= formData.end %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
            </div>

            <div class="form__group">
                <label for="status">
                    <strong>Statut (obligatoire)</strong><br />
                </label>
                <% memberConfig.statusOptions.forEach(function(status) { %>
                    <input type="radio" name="status" value="<%= status.value %>" <%= (status.value === formData.status) ? 'checked' : '' %> required><%= status.label %><br>
                <% }) %>
            </div>

            <div class="form__group">
                <label for="startup">
                    <span>Startup d'État</span><br />
                    Laisser vide si elle n'apparaît pas. Tu pourras modifier ton profil plus tard.
                </label>
                <select name="startup">
                    <option value=""></option>
                    <% startups.forEach(function(startup) { %>
                        <option value="<%= startup.id %>" <%= (startup.id === formData.startup) ? 'selected' : '' %>><%= startup.attributes.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form__group">
                <label for="employer">
                    <span>Employeur</span><br />
                    L'entité avec laquelle tu as signé ton contrat (DINUM, Octo...)
                </label>
                <input name="employer" value="<%= formData.employer %>">
            </div>

            <div class="form__group">
                <label for="badge">
                    <span>Badge</span><br />
                    Si tu souhaites accéder aux bureaux, il te faudra un badge. Il te faudra aussi en faire la demande séparément.
                    En cochant cette case, nous saurons que tu en fais la demande et le badge sera renouvellé automatiquement.
                </label>
                <select name="badge">
                    <option value=""></option>
                    <% memberConfig.badgeOptions.forEach(function(badge) { %>
                        <option value="<%= badge.value %>" <%= (badge.value === formData.badge) ? 'selected' : '' %>><%= badge.label %></option>
                    <% }) %>
                </select>
            </div>


            <button class="button" type="submit">Créer ma fiche Github</button>
        </form>
    </div>
</div>
