<%- include('partials/header'); -%>

<div class="container container-small">

    <% if (errors.length) { %>
    <div class="notification error">
        <% errors.forEach(function(error) { %>
            <li><%= error %></li>
        <% }) %>
    </div>
    <% } %>

    <% if (messages.length) { %>
    <div class="notification"><%- messages %></div>
    <% } %>

    <div class="panel margin-top-m">
        <h3>Créer ma fiche Github</h3>

        <p>
            Bienvenue dans la communauté !<br>
            Crée ta fiche Github pour avoir accès aux différents outils de la communauté
        </p>

        <div class="beta-banner"></div>

        <form action="/onboarding" method="POST">
            <h4>Tes infos persos</h4>

            <div class="form__group">
                <p>
                    Ton nom, ton rôle et ta description seront affichés sur la page <a href="https://beta.gouv.fr/communaute/" target="_blank">Communauté</a> du site BetaGouv, ainsi que dans la fiche de ta startup.
                </p>
                <label for="firstName">
                    <strong>Prénom (obligatoire)</strong>
                </label>
                <input name="firstName" value="<%= formData.firstName %>" required>
                <label for="lastName">
                    <strong>Nom de famille (obligatoire)</strong>
                </label>
                <input name="lastName" value="<%= formData.lastName %>" required>
            </div>

            <div class="form__group">
                <label for="description">
                    <span>Description</span><br />
                    Raconte-nous qui tu es dans une phrase percutante !
                    <textarea rows="2" name="description" value="<%= formData.description %>"></textarea>
                </label>
            </div>

            <div class="form__group">
                <label for="website">
                    <span>Ton site personnel</span><br />
                    Il sera affiché sur la page <a href="https://beta.gouv.fr/communaute/"
                        target="_blank">Communauté</a> du site BetaGouv.
                </label>
                <input name="website" value="<%= formData.website %>">
            </div>

            <div class="form__group">
                <label for="github">
                    <span>Utilisateur Github</span><br />
                    Si tu as un compte, tu peux être ajouté à l'organisation Github BetaGouv
                </label>
                <input name="github" value="<%= formData.github %>">
            </div>


            <h4>Ta mission</h4>
            <div class="form__group">
                <label for="role">
                    <strong>Ton rôle chez BetaGouv (obligatoire)</strong><br />
                    Développeuse, Intrapreneur, Chargée de déploiement, Coach, UX Designer...
                </label>
                <input name="role" value="<%= formData.role %>" required>
            </div>

            <div class="form__group">
                <label for="start">
                    <strong>Début de ta mission (obligatoire)</strong><br />
                </label>
                <input type="date" name="start" pattern="^\d{4}-\d{2}-\d{2}$" min="<%= memberConfig.minStartDate %>" value="<%= formData.start %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
            </div>

            <div class="form__group">
                <label for="end">
                    <strong>Fin de ta mission (obligatoire)</strong><br />
                    
                </label>
                <input type="date" name="end" pattern="^\d{4}-\d{2}-\d{2}$" value="<%= formData.end %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
            </div>

            <div class="form__group">
                <label for="status">
                    <strong>Ton statut (obligatoire)</strong><br />
                </label>
                <% memberConfig.statusOptions.forEach(function(status) { %>
                    <input type="radio" name="status" value="<%= status.value %>" <%= (status.value === formData.status) ? 'checked' : '' %> required><%= status.name %><br>
                <% }) %>
            </div>

            <div class="form__group">
                <label for="startup">
                    <span>Ta Startup d'État</span><br />
                    Laisser vide si elle n'apparaît pas. Tu pourras modifier ton profil plus tard.
                </label>
                <select name="startup">
                    <option value=""></option>
                    <% startups.forEach(function(startup) { %>
                        <option value="<%= startup.id %>" <%= (startup.id === formData.startup) ? 'selected' : '' %>><%= startup.attributes.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form__group">
                <label for="employer">
                    <span>Ton employeur</span><br />
                    L'entité avec laquelle tu as signé ton contrat (DINUM, Octo...)
                </label>
                <input name="employer" value="<%= formData.employer %>">
            </div>


            <button class="button" type="submit">Créer ma fiche Github</button>
        </form>
    </div>
</div>
