<%- include('partials/header'); -%>

<div class="container container-small">

  <h3>&nbsp;Secretariat automatique de beta.gouv</h3>

  <p>
    Bienvenue <%= currentUser.id %> !
  </p>

  <div class="panel margin-top-m">
    <h4>G茅rer mon compte</h4>
    <a class="button margin-0" href="/users/<%= currentUser.id %>" title="Lien vers la gestion de mon compte">Acc茅der  la gestion de mon compte</a>
  </div>

  <div class="panel">
    <h4>Cr茅er un compte email pour un nouveau membre de la communaut茅</h4>
    <form action="/users">
      <div class="form__group">
        <!-- <label for="id"><strong>Rechercher un nom</strong></label> -->
        <div class="input__group">
          <input name="id" class="width-50" placeholder="prenom.nom" pattern="[a-z0-9_-]+.[a-z0-9_-]+" list="user_ids">
          <span class="padding-10">@<%= domain %></span>
        </div>
        <datalist id="user_ids">
          <% users.forEach(function(user) { %>
            <option value="<%= user.id %>">
          <% }) %>
        </datalist>
      </div>
      <button class="button" type="submit">V茅rifier l'utilisateur(trice)</button>
      <br><br>
      <div class="notification warning">
        癸&nbsp;Si le nom n'apparait pas en autocompletion, c'est que l'utilisateur(trice) n'existe pas sur <%= domain %>
      </div>
    </form>
  </div>

  <div class="panel">
    <h4>Chercher un路e marrain路e</h4>
    <form action="/marrainage" method="POST">
      <div class="input__group">
        <label>En appuyant sur ce bouton, une personne al茅atoire sera invit茅路e  devenir ton ou ta marrain路e.</label><br>
        <input type="hidden" name="newcomerId" value="<%= currentUser.id %>">
      </div>
      <button class="button" type="submit">Chercher un路e marrain路e</button>
    </form>
  </div>

  <div class="panel">
    <h4>Voir tous les comptes email @<%= domain %></h4>
    <a class="button margin-0" href="/emails" title="Lien vers la liste des comptes email">Acc茅der  la liste</a>
  </div>
</div>

<%- include('partials/footer'); -%>
