<%- include('partials/header'); -%>

<form action="/users">
  <p>
    <label><strong>Rechercher un nom</strong></label><br>
    <input name="id" placeholder="prenom.nom" pattern="[a-z0-9_-]+.[a-z0-9_-]+" list="user_ids"><br>
    <datalist id="user_ids">
      <% users.forEach(function(user) { %>
        <option value="<%= user.id %>">
      <% }) %>
    </datalist>
    <i>Si le nom n'apparait pas en autocompletion, c'est que l'utilisateur(trice) n'existe pas sur <%= domain %></i>
  </p>
  <p>
    <button>Vérifier l'utilisateur(trice)</button>
  </p>
</form>

<hr />
<p>
  <form action="/marrainage" method="POST">

      <label><strong>Chercher un.e marrain.ne</strong><br>
      <label>En appuyant sur ce bouton, une personne aléatoire sera invité.e à devenir ta ou ton marrain.ne.</label><br>
      <input type="hidden" name="newcomerId" value="<%= currentUser.id %>">
      <p>
        <button>Chercher un.e marrain.ne</button>
      </p>
  </form>
</p>

<%- include('partials/footer'); -%>
