<%- include('partials/header'); -%>

<div class="container container-small">

  <% if (userInfos) { %>
    <h4 class="subtitle"><%= userInfos.id %></h4>
  <% } %>

  <% if (errors.length) { %>
    <div class="notification error"><%= errors %></div>
  <% } %>

  <% if (messages.length) { %>
    <div class="notification"><%- messages %></div>
  <% } %>

  <div class="panel margin-top-m">
    <h4>Fiche <%= domain %></h4>
    <% if (userInfos) { %>
      <ul>
        <li>Nom: <%= userInfos.fullname %></li>
        <li>Date de début: <%= userInfos.start %></li>
        <li>Date de fin: <%= userInfos.end %> <% if (isExpired) { %><span class="text-red"><strong>Expiré !</strong><span><% } %></li>
        <li>Employeur: <%= userInfos.employer %></li>
        <li>Github : <% if (userInfos.github) { %><a href="https://github.com/<%= userInfos.github %>" target="_blank"><%= userInfos.github %></a><% } else { %>Non renseigné<% } %></li>
      </ul>
      <p><a class="button secondary" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Modifier la fiche sur Github</a></p>
    <% } else { %>
      <div class="notification error">
        Inexistante (nécessaire pour créer le compte mail)<br>
        <i>Vous pouvez créer la fiche sur Github</i>
      </div>
    <% } %>
  </div>

  <% if (userInfos) { %>
    <div class="panel">
      <h4>Compte mail</h4>

      <% if (emailInfos) { %>
        <%= emailInfos.email %> ( <a href="https://mail.ovh.net/roundcube/?_user=<%= userInfos.id %>@<%= domain %>">Webmail</a> )
        <p>Comment utiliser son compte email : <a href="https://docs.ovh.com/fr/emails/">Infos et tutos de configuration OVH</a></p>
        <% if (canChangePassword) { %>
          <form action="/users/<%= userInfos.id %>/password" method="POST">
            <fieldset>
              <legend>Changer le mot de passe POP/IMAP/SMTP</legend>
              <div class="form__group">
                <label>Nouveau mot de passe : </label>
                <input name="new_password" type="password" minlength="9" required>
                <i>(de 9 à 30 caractères, pas d'accents, pas d'espace au début ou à la fin)</i>
              </div>
              <button class="button" type="submit">Changer</button>
            </fieldset>
          </form>
        <% } %>
      <% } else { %>
        <div class="text-red"><strong>Inexistant</strong></div>
      <% } %>

      <br>
      <% if (canCreateEmail) { %>
        <form action="/users/<%= userInfos.id %>/email" method="POST">
        <fieldset>
          <legend>Créer le compte mail</legend>
          <div class="form__group">
            <label>Envoyer le mot de passe à cette adresse mail : </label>
            <input name="to_email" type="email" required>
          </div>
          <button class="button" type="submit">Créer un compte</button>
          </fieldset>
        </form>
      <% } else { %>
        <% if (isExpired) { %>
          <div class="notification error">
            Le compte <%= userInfos.id %> est expiré.
          </div>
        <% } else { %>
          <div class="notification warning">
            Seul <%= userInfos.id %> peut créer ou modifier ce compte email.
          </div>
        <% } %>
      <% } %>
    </div>

    <div class="panel">
      <h4>Redirections</h4>

      <ul>
        <% redirections.forEach(function(redirection) { %>
          <li>
            <%= redirection.from %> vers <%= redirection.to %>
            <% if (canCreateRedirection) { %>
              <form action="/users/<%= userInfos.id %>/redirections/<%= redirection.to %>/delete" method="POST">
                <button class="button small no-margin" type="submit">Supprimer</button>
              </form>
            <% } %>
          </li>
        <% }) %>
        <% if (redirections.length === 0) { %>
          <li><strong>Aucune</strong></li>
        <% } %>
      </ul>

      <br>
      <% if (canCreateRedirection) { %>
        <form action="/users/<%= userInfos.id %>/redirections" method="POST">
          <fieldset>
            <legend>Créer une redirection email</legend>
            <div class="form__group">
              <label>Rediriger les mails vers : </label>
              <input name="to_email" type="email" required>
            </div>
            <div class="input__group">
              <input type="checkbox" name="keep_copy" value="true">
              <label>Garder une copie des emails si un compte existe</label>
            </div>
            <button class="button" type="submit">Créer la redirection</button>
          </fieldset>
        </form>
      <% } else { %>
        <% if (isExpired) { %>
          <div class="notification error">
            Le compte <%= userInfos.id %> est expiré.
          </div>
        <% } else { %>
          <div class="notification warning">
            Seul <%= userInfos.id %> peut créer ou modifier les redirections.
          </div>
        <% } %>
      <% } %>
    </div>

    <div class="panel">
      <h4>Marrainage</h4>
      <form action="/marrainage" method="POST">
        <fieldset>
          <legend>Chercher un·e marrain·e</legend>
          <div class="form__group">
            <label>En appuyant sur ce bouton, une personne aléatoire sera invité·e à devenir la ou le marrain·e de <%= userInfos.fullname %>.</label>
            <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
          </div>
          <button class="button" type="submit">Chercher un·e marrain·e</button>
        </fieldset>
      </form>
    </div>
  <% } %>

<%- include('partials/footer'); -%>
