<h1>Ton email <%= email %> est prêt !</h1>

<p>Voici les informations à retenir :</p>
<ul>
  <li>Identifiant : <strong><%= email %></strong></li>
  <li>Mot de passe : <strong><%= password %></strong></li>
</ul>


<p>Et maintenant ?</p>
<ul>
  <li>Étape 1 : Connecte toi à ton compte OVH une première fois sur le <a href="https://mail.ovh.net/roundcube/">Webmail OVH</a></li>
  <li>Étape 2 : Rejoins-nous sur Mattermost en créant un compte avec ta nouvelle adresse beta.gouv : <a href="<%= mattermostInvitationLink %>">mattermost.incubateur.net</a></li>
  <li>Étape 3 (optionnelle) : Configure ton email beta.gouv (configuration email, changement de mot de passe, etc.) sur l'application <a href="<%= secretariatUrl %>">Secrétariat</a></li> 
</ul>

<p>Tu peux aussi explorer la <a href="https://doc.incubateur.net/communaute/">documentation de la communauté</a> pour apprendre à nous connaître.
  Des sessions d'embarquement sont organisées tous les mois pour les nouveaux arrivants, demande quand à lieu la prochaine sur le canal Mattermost <strong>#incubateur-embarquement</strong> !
</p>

<p>🤖 Le secrétariat</p>
