<h1>Ton compte <%= email %> a été créé !</h1>

<ul>
  <li>Identifiant de login : <%= email %></li>
  <li>Mot de passe : <%= password %></li>

<ul>
  <li>Etape 1 : Te connecter à ton compte OVH une première fois : <a href="https://www.ovh.com/fr/mail/">https://www.ovh.com/fr/mail/</a></li>
  <li>Etape 2 : Rejoindre Slack en créant un compte (si tu n'en as pas), puis en rejoignant l'espace beta avec ton adresse beta.gouv : <a href="startups-detat.slack.com/a></li>
  <li>Etape 3 (optionnelle) : paramétrer une redirection vers ton adresse mail principale (et éviter d'avoir à retourner sur OVH !). Tu peux le faire simplement à partir de ton compte sur le secrétariat BetaGouv : : <a href="<%= secretariatUrl %>"><%= secretariatUrl %></a></li> 

A part ça, tu peux explorer la <a href="https://doc.incubateur.net/communaute/">doc de la communauté</a> pour apprendre à nous connaitre. Des sessions d'embarquement sont organisées tous les mois pour les nouveaux, demande quand à lieu la prochaine sur le canal slack <span>#incubateur-embarquement</span> ! 

</ul>

<p>🤖 Le secrétariat</p>
