<h1>Ton compte <%= email %> a été créé !</h1>

<ul>
  <li>Identifiant de login : <%= email %></li>
  <li>Mot de passe : <%= password %></li>
  <li>Comment utiliser ton compte email, voici les infos OVH pour configurer ta boite mail : <a href="https://docs.ovh.com/fr/emails/">https://docs.ovh.com/fr/emails/</a></li>
  <li>Gérer son compte mail sur le secrétariat BetaGouv : <a href="<%= secretariatUrl %>"><%= secretariatUrl %></a></li>
</ul>

<p>🤖 Le secrétariat</p>
