<h1>Ton compte <%= email %> a été créé !</h1>

<ul>
  <li>Identifiant de login : <%= email %></li>
  <li>Mot de passe : <%= password %></li>
  <li>Voici l'adresse pour accèder directement à votre compte email : <a href="https://www.ovh.com/fr/mail/">https://www.ovh.com/fr/mail/</a></li>
  <li>(Pour d'autre mode d'accès à vos emails, vous pouvez regarder : <a href="https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter">https://doc.incubateur.net/communaute/outils/emails#jai-un-email-beta-comment-me-connecter</a>)</li>
  <li>Gérer son compte mail sur le secrétariat BetaGouv : <a href="<%= secretariatUrl %>"><%= secretariatUrl %></a></li>
</ul>

<p>🤖 Le secrétariat</p>
