Bonjour <%= user.fullname %> !

1° Ton départ est prévu dans 15 jours et tu ne veux pas recevoir de rappel <a href='<%= validateDepartureUrl %>'> clique ici</a>

2° Ton départ de la communauté beta.gouv.fr est prévu pour dans 15 jours (le <%= user.end %>). Si cette date a changé, mets-là à jour pour rester membre de la communauté.

Pour mettre à jour ta date de fin de mission, tu peux :
- [modifier ta fiche sur Github](https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= user.id %>.md)
- [utiliser l'interface en ligne](https://beta.gouv.fr/admin/#/collections/authors/entries/<%= user.id %>)
- [suivre la documentation](https://pad.incubateur.net/xAj0p9RKTPW00RUGJHtbyA)

3° Je sais pas si m'a date va changer je clique ici

Si tu as besoin d'aide, n'hésite pas à répondre [par email à secretariat@incubateur.net](mailto:secretariat@incubateur.net) ou à poser tes questions sur Mattermost dans [~incubateur-secretaria](https://mattermost.incubateur.net/betagouv/channels/incubateur-secretaria)

Belle journée
