<h1>Hello <%= referent %>,</h1>

<p>
    <b><%= name %> a besoin de toi pour obtenir son email @beta.gouv.fr</b>. Tu peux :
</p>

<ul>
	<li>Approuver <a href="<%= prUrl %>">sa fiche</a> (en cliquant sur "Squash and merge") si tu as un compte GitHub.</li>
	<li>Ou répondre à cet email pour confirmer que tu connais cette personne. Un membre de la communauté approuvera la demande.</li>
</ul>

<% if (emailBetaAsked) { %>
  <p>Le compte email de <%= name %> sera automatiquement créé une fois que la fiche sera mergée.
      <a href="<%= userUrl %>"><%= userUrl %></a>.
  </p>
<% } %>

<p>🤖 Le secrétariat</p>
