<%- include('partials/nav-header'); -%>

<link rel="stylesheet" media="screen,print" href='/static/collapse/collapse.css'>
<script src="/static/collapse/collapse.js"></script>

<div class="module">
    <div>
        <small>
            <a href="/account">Mon compte</a>
        </small>
    </div>
    <div class="margin-top-m"></div>
    <% if (hasActiveResponder) { %>
        <div class="notification warning">
            <strong>Réponse automatique activée.</strong>
            <a href="/account#responder">Désactiver maintenant</a>
            <a href="/account#responder">Configurer la réponse</a>
        </div>
    <% } %>
    <div class="row">
        <div class="panel panel-partial-width">
            <div>
                <h3>
                    Mon compte beta.gouv
                </h3>
                <div>
                    <% if (userInfos) { %>
                        <p><span class="font-weight-bold">Nom</span>: <%= userInfos.fullname %></p>
                    <% } %>
                    <p>
                        <span class="font-weight-bold">Rôle:</span> <%= userInfos.role %>
                    </p>
                    <% if (userInfos.startups) { %>
                      <p>
                          <span class="font-weight-bold">Startups actuelles:</span><br>
                          <% for (var i=0; i < userInfos.startups.length; i++) { %>
                          - <%= userInfos.startups[i] %><br>
                          <% } %>
                      </p>
                    <% } %>
                    <p>
                    <!-- <span class="font-weight-bold">startup(s) précédente(s):</span> <%= userInfos.previously %><br><br> -->
                    </p>
                    <% if (userInfos.end) { %>
                        <p>
                            <span class="font-weight-bold">Fin de mission :</span>
                            <!-- du <%= new Date(userInfos.start).toLocaleDateString('fr-FR') %> -->
                            <% if (userInfos.end) { %><%= new Date(userInfos.end).toLocaleDateString('fr-FR') %><% } %>
                        </p>    
                    <% } %>
                    <% if (userInfos.employer) { %>
                        <p>
                            <strong>Employeur : </strong><%= userInfos.employer.replace('admin/', '') %>
                        </p>
                    <% } %>
                    <% if (userInfos.github) { %>
                        <p>
                            <strong>Compte Github :</strong>
                            <% if (userInfos.github) { %>
                                <a href="https://github.com/<%= userInfos.github %>"><%= userInfos.github %></a>
                            <% } else { %>
                                Non renseigné
                            <% } %>
                        </p>
                    <% } %>
                    <br>
                    <center>
                    <small>Une de ces informations n'est plus juste ?</small><br>
                    <% if (updatePullRequest) { %>
                        <br>
                        <div class="notification">
                            ⚠️ Une pull request existe déjà sur ta fiche membre. Toi ou un membre de ton équipe doit la merger pour que les changements soit pris en compte
                            <a href="<%= updatePullRequest.url %>" target="_blank"><%= updatePullRequest.url %></a>
                            <br>(la prise en compte peut prendre 10 minutes.)
                        </div>
                    <% } %>
                    <a class="button" href="/account/base-info">✏️ Mettre à jour mes infos</a></center>

                    <!-- <div class="collapse">
                        <h6 class="margin-10-0 collapse-header">
                            <button aria-expanded="false" id="update-end-date">
                                Mettre à jour ma date de fin
                                <div class="icon fa fa-chevron-down"></div>
                            </button>
                        </h6>
                        <div hidden class="collapse-content">
                            <section id="update-end-date-form" class="panel">
                                <div class="notification">
                                    Pour que ton changement de date soit pris en compte,
                                    demande à un membre de ton équipe de
                                    "merger" le changement sur <a href="https://github.com/betagouv/beta.gouv.fr/pulls" target="_blank">github</a>.
                                </div>
                                <form action="/users/<%= userInfos.id %>/end-date" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input type="hidden" name="start" value="<%= userInfos.start %>">
                                    <input type="hidden" name="end" value="<%= userInfos.end %>">
                                    <p>
                                        <strong>Date de fin actuelle :</strong>
                                        <% if (userInfos.end) { %>
                                            <%= new Date(userInfos.end).toLocaleDateString('fr-FR') %>
                                        <% } else { %>
                                            Non renseignée
                                        <% } %>
                                    </p>
                                    <div class="form__group">
                                        <label for="end">
                                            <strong>Nouvelle date de fin</strong>
                                        </label>
                                        <input type="date" name="newEnd" pattern="^\d{4}-\d{2}-\d{2}$" value="<%= formData.newEnd %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
                                    </div>
                                    <div class="form__group button__group">
                                        <button class="button" type="submit">Valider</button>
                                        <button id="update-end-date-form-cancel-button" class="button secondary">Annuler</button>
                                    </div>
                                </form>
                            </section>
                            <hr />
                        </div>
                    </div>
                    <div class="collapse">
                        <h6 class="margin-10-0 collapse-header">
                            <button aria-expanded="false" id="webmail">
                                Mettre à jour ma fiche
                                <div class="icon fa fa-chevron-down"></div>
                            </button>
                        </h6>
                        <div hidden class="collapse-content">
                            <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Modifier sur Github</a> 
                            <hr />
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="panel margin-top-0 panel-partial-width">
            <h6>Observatoire de la Communauté (<a href="https://metabase.incubateur.net/public/dashboard/554ff353-6104-4c25-a261-d8bdc40f75d5" target="_blank">consulter l'observatoire</a>)</h6>
                <br>
                <p>
                    <span class="font-weight-bold">Lieu de travail principal : </span> <%= workplace || 'Non renseigné' %>
                </p>
                <p>
                    <span class="font-weight-bold">Genre : </span> <span class="hide-info-detail"><span><%= gender || 'Non renseigné' %></span></span>
                </p>
                <p>
                    <span class="font-weight-bold">TJM : </span> <span class="hide-info-detail"><span><%= tjm || 'Non renseigné' %></span></span>
                </p>
                <p>
                    <span class="font-weight-bold">Statut Legal : </span><nobr><%= legal_status || 'Non renseigné' %></nobr>
                </p>
                <p>
                    <span class="font-weight-bold">Nombre de jours par semaine : </span> <%= average_nb_of_days || 'Non renseigné' %>
                </p>
                <center>
                    <small>Une de ces informations n'est plus juste ?</small>
                    <br>
                    <a class="button" href="/account/info">Mettre à jour</a>
                </center>
                <br/>
                <br/>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-full-width">
            <h3>
                Mon email
            </h3>
            <% if (emailInfos) { %>
                <p> <span class="font-weight-bold">Email principal : </span><span class="font-weight-bold text-color-blue"><%= emailInfos.email %>
                <% if (emailInfos.isPro) { %> 
                    (offre OVH Pro)
                <% } %>
                <% if (emailInfos.isExchange) { %>
                    (offre OVH Exchange)
                <% } %>
                </p>
            <% } %>
            <% if (!emailInfos && primaryEmail && !primaryEmail.includes(domain)) { %>
            <p> <span class="font-weight-bold">Email principal : </span><span class="font-weight-bold text-color-blue"><%= primaryEmail %>
            <% } %>
            <p>
                <span class="font-weight-bold">Email secondaire : </span> <%= secondaryEmail || 'Non renseigné' %>
            </p>
            <% if (isAdmin) { %>
                <% if (availableEmailPros.length && emailInfos && !emailInfos.isPro && !emailInfos.isExchange) { %>
                    <p>Il y a <%= availableEmailPros.length %> compte disponibles.</p>
                    <p>Passer ce compte en pro : </p>
                    <form class="no-margin" action="/users/<%= userInfos.id %>/email-upgrade" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <label>
                            <span class="text-color-almost-black">Un mot de passe pour ton compte</span><br />
                        </label>
                        <input name="password" type="password" required min="8">
                        <button class="button no-margin" type="submit">Upgrader en compte pro</button>
                    </form>
                    <br>
                    <br>
                <% } %>
            <% } %>
            <% if (canCreateEmail) { %>
                <p>Tu peux créer ton compte email @beta.gouv.fr.</p>
                <% if (hasPublicServiceEmail) { %>
                    Attention tu as une adresse de service public en adresse primaire. Si tu créés une adresse @beta.gouv.fr, elle deviendra ton adresse primaire :
                    celle à utiliser pour mattermost, et d'autres outils.
                <% } %>
                <form class="no-margin" action="/users/<%= userInfos.id %>/email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                    <div class="form__group  margin-10-0">
                        <label>
                            <span class="text-color-almost-black">Email personnel ou professionnel</span><br />
                            Les informations de connexion seront envoyées à cet email
                        </label>
                        <input value="<%= secondaryEmail %>" name="to_email" type="email" required>
                    </div>
                    <button class="button no-margin" type="submit">Créer un compte</button>
                </form>
                <br>
                <br>
            <% }%>
            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="configure-email">
                        Configurer mon client mail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>Configure ton client mail préféré (Mail, Thunderbird, Mailspring, Microsoft Courier, Gmail, etc) pour recevoir et envoyer des emails :</p>

                    <a href="https://doc.incubateur.net/communaute/travailler-a-beta-gouv/jutilise-les-outils-de-la-communaute/emails#envoyer-et-recevoir-des-mails-beta.gouv.fr" target="_blank" class="button no-margin">Documentation de configuration du webmail</a>
                    <hr />
                </div>
            </div>
            <div class="collapse" id="responder">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="automatic-response">
                        Configurer une réponse automatique
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        Informez vos correspondants de votre absence. Cette réponse automatique sera envoyée à tous les messages que vous recevez. (la mise en place effective de la réponse automatique peut prendre quelques minutes)
                    </p>
                    <form class="no-margin"
                        onsubmit="const proceed = event.submitter.id === 'delete-button' ? confirm('Es-tu sûr de vouloir supprimer ton compte email et ses redirections ?') : true; event.submitter && (event.submitter.disabled = proceed); return proceed;"
                        action="/account/set_email_responder" method="POST" >
                    <% if (hasResponder) { %>
                        <input type="hidden" name="method" value="update">
                    <% } %>       
                            <div class="form__group">
                                <label for="start">
                                    <strong>Message d'absence</strong><br />
                                </label>
                                <textarea placeholder="Je ne serai pas en mesure de vous répondre du XX/XX au XX/XX. En cas d'urgence, n'hésitez pas à contacter ..." id="emailResponder" name="content" value="<%= responderFormData.content %>"><%= responderFormData.content %></textarea>
                            </div>
                            <div class="form__group">
                                <label for="start">
                                    <strong>Début</strong><br />
                                    <i>Au format JJ/MM/YYYY</i>
                                </label>
                                <input type="date" name="from" pattern="^\d{4}-\d{2}-\d{2}$" value="<%= responderFormData.from %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
                            </div>
                
                            <div class="form__group">
                                <label for="end">
                                    <strong>Fin</strong><br />
                                    <i>Au format JJ/MM/YYYY</i>
                                </label>
                                <input type="date" name="to" pattern="^\d{4}-\d{2}-\d{2}$" value="<%= responderFormData.to %>" title="En format YYYY-MM-DD, par exemple : 2020-01-31" required>
                            </div>
                    <% if (!hasResponder) { %>
                            <button class="button margin-10-0" type="submit">Sauvegarder</button>
                        </form>
                    <% } else { %>
                            <div class="row">
                                <button class="button margin-10-0" type="submit">Changer</button>
                                <% if (hasResponder) { %>
                                        <button
                                            id='delete-button'
                                            class="button margin-10-0 button-underline" formaction="/account/delete_email_responder" type="submit">Supprimer</button>
                                <% } %> 
                            </div>
                        </form>
                    <% } %> 
                    <hr />
                </div>
            </div>
            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="password">
                        Changer mon mot de passe
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <% if (canChangePassword) { %>
                        <p>
                            Nouveau mot de passe du compte email :<br />
                            Le mot de passe doit comporter entre 9 et 30 caractères, pas d'accents, et pas
                            d'espace au début ou à la fin.
                        </p>

                        <form class="no-margin" action="/users/<%= userInfos.id %>/password" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <input name="new_password" type="password" minlength="9" required>
                            <button class="button margin-10-0" type="submit">Changer</button>
                        </form>
                    <% } else if (emailSuspended) { %>
                        <p>Il faut mettre à jour votre date de fin de mission et merger la pull request avant de pouvoir changer votre mot de passe</p>
                    <% } else { %>
                        <p>Sans compte email, vous n'avez pas la possibilité de changer de mot de passe.</p>
                    <% } %>
                    <hr />
                </div>
            </div>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="webmail">
                        Accéder au webmail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        Tu peux consulter tes mails directement sur l'interface d'OVH. Elle n'est pas très
                        confortable mais ça peut être une bonne solution pour dépanner, ou quand tu n'a pas
                        accès à ton client web habituel.
                    </p>
                    <% if (emailInfos && emailInfos.isPro) { %> 
                        <a href="https://pro1.mail.ovh.net/?_user=<%= userInfos.id %>@<%= domain %>" target="_blank" class="button no-margin">Webmail</a>
                    <% } else if (emailInfos && emailInfos.isExchange) { %>
                    <a href="https://ex.mail.ovh.net/?_user=<%= userInfos.id %>@<%= domain %>" target="_blank" class="button no-margin">Webmail</a>
                    <% } else { %>
                        <a href="https://mail.ovh.net/roundcube/?_user=<%= userInfos.id %>@<%= domain %>" target="_blank" class="button no-margin">Webmail</a>
                    <% } %>
                    <hr />
                </div>
            </div>

            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="redirect-email">
                        Rediriger vers une autre adresse mail
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>🚨 Il n'est pas recommandé d'utiliser les redirections : <b>certains de tes messages seront perdus</b>. Mais une redirection peut être utile en complément d'une récupération <i>POP</i> ou d'une application type Frontapp.</p>
                    <% redirections.forEach(function(redirection) { %>
                        <div class="redirection-item">
                            <%= redirection.to %>
                            <% if (canCreateRedirection) { %>
                                <form class="redirection-form" action="/users/<%= userInfos.id %>/redirections/<%= redirection.to %>/delete" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                <button class="redirection-remove button-outline small warning" type="submit">Supprimer</button>
                                </form>
                            <% } %>
                        </div>
                    <% }) %>
                    <% if (canCreateRedirection) { %>
                        <form class="no-margin" action="/users/<%= userInfos.id %>/redirections" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <div class="form__group">
                                <label for="to_email">Rediriger mes mails <%= domain %> vers :</label>
                                <input name="to_email" type="email" required>
                            </div>
                            <div class="input__group margin-10-0">
                            <input type="checkbox" name="keep_copy" value="true">
                            <label>Garder une copie des emails si un compte existe</label>
                            </div>
                            <button class="button no-margin" type="submit">Ajouter la redirection</button>
                        </form>
                    <% } else { %>
                        <% if (isExpired) { %>
                        <div class="notification error">
                            Le compte <%= userInfos.id %> est expiré.
                        </div>
                        <% } else { %>
                        <div class="notification warning">
                            Seul <%= userInfos.id %> peut créer ou modifier les redirections.
                        </div>
                        <% } %>
                    <% } %>
                    <hr />
                </div>
            </div>
            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="change-primary-email">
                        Configurer mon email principal
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        L'email principal est utilisé pour toutes les communications en rapport avec Betagouv.
                        Ce doit être un email d'agent public. Il s'agit par défaut de <%= userInfos.id %>@beta.gouv.fr.
                        <br>
                        <br>
                        En cas d'utilisation d'une adresse autre, l'email <%= userInfos.id %>@beta.gouv.fr sera supprimé.
                    </p>
                    <% if (canChangeEmails) { %>
                    <form class="no-margin" action="/users/<%= userInfos.id %>/primary_email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <input id="primaryEmail" name="primaryEmail" value="<%= primaryEmail %>" type="email">
                        <button class="button margin-10-0" type="submit">Sauvegarder l'email principal</button>
                    </form>
                    <% } %>
                    <hr />
                </div> 
            </div>
            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="change-secondary-email">
                        Configurer mon email secondaire
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <p>
                        L'email secondaire est utile pour récupérer son mot de passe ou garder contact après ton départ.
                    </p>
                    <% if (canChangeEmails) { %>
                    <form class="no-margin" action="/users/<%= userInfos.id %>/secondary_email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <input id="secondaryEmail" name="secondaryEmail" value="<%= secondaryEmail %>" type="email">
                        <button class="button margin-10-0" type="submit">Sauvegarder l'email secondaire</button>
                    </form>
                    <% } %>
                    <hr />
                </div> 
            </div>
            <div class="collapse">
                <h6 class="margin-10-0 collapse-header">
                    <button aria-expanded="false" id="change-communication-email">
                        Quel email utiliser pour les communications @beta.gouv.fr ?
                        <div class="icon fa fa-chevron-down"></div>
                    </button>
                </h6>
                <div hidden class="collapse-content">
                    <% if (!!primaryEmail && !secondaryEmail) { %>
                        Tu n'as qu'une seule adresse <%= primaryEmail %>. Ajoute une adresse secondaire pour choisir sur quelles adresses tu souhaites recevoir les communications
                    <% } %>
                    <% if (!!primaryEmail && !!secondaryEmail) { %>
                    <form class="no-margin" action="/account/update_communication_email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                    <div>
                        <input type="radio"
                            id="primary"
                            name="communication_email"
                            value="primary"
                            <% if (communication_email === 'primary') { %>
                                checked
                            <% } %>    
                            ><%= primaryEmail %>
                      </div>
                      <div>
                        <input
                            type="radio"
                            id="secondary"
                            name="communication_email"
                            value="secondary"
                            <% if (communication_email === 'secondary') { %>
                                checked
                            <% } %>    
                            >
                        <%= secondaryEmail %>
                      </div>
                      <button class="button margin-10-0" type="submit">Sauvegarder</button>
                    </form>
                    <% } %>
                    <hr />
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-full-width">
            <h3>
                        Besoin d'aide ?
                    </h3>
                    <a href="https://doc.incubateur.net/" target="_blank" class="button no-margin">Voir le <span class="font-weight-bold">guide de la communauté</span></a>
                    <h4>
                        Parler avec un humain ?
                    </h4>
                    <p>
                    <% if(marrainageState) { %>
                        <% if (marrainageState.completed) { %>
                            Tu peux peut parler à ton ou ta marrain·e qui est <strong><%= marrainageState.last_onboarder %></strong>.
                        <% } else { %>
                            Nous avons demandé à <strong><%= marrainageState.last_onboarder %></strong> de devenir ton ou ta marrain·e, nous attendons sa réponse.
                        <% } %>
                    <% } %>
                        Son role est de t'accompagner dans tes démarches et t'aider
                            à t'orienter au sein de la communauté.
                    </p>
                    <% if(!marrainageState) { %>
                        <!-- <form class="no-margin" action="/marrainage" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                            <div class="form__group">
                                <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                            </div>
                            <button class="button secondary no-margin" type="submit">Chercher un·e marrain·e</button>
                        </form> -->
                    <% } else if(!marrainageState.completed) { %>
                        Essai numéro <%= marrainageState.count %>, procédure lancé le <%= marrainageState.created_at.toLocaleDateString('fr-FR') %>, dernière mise à jour <%= marrainageState.last_updated.toLocaleDateString('fr-FR') %>.
                        <div class="form__group margin-10-0 display-flex">
                            <% if( Date.now() - marrainageState.last_updated.valueOf() > 24*3600*1000 ) { %>
                                <form class="margin-right-10" action="/marrainage/reload" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                    <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                                    <button class="button secondary no-margin" type="submit">Relancer</button>
                                </form>
                            <% } %>
                            <form class="margin-right-10" action="/marrainage/cancel" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                                <button class="button secondary no-margin" type="submit">Annuler</button>
                            </form>
                        </div>
                    <% } %>
        </div>
    </div>
    <% if(emailInfos || (redirections && redirections.length > 0)) { %>
        <div class="panel">
            <h3>❗ Clôturer mon compte</h3>
            <p>Si tu as quitté la communauté, clôture ton compte, ce qui aura pour effet de :</p>
            <ul>
                <li>
                    Supprimer ton compte email
                </li>
                <li>
                    Supprimer toutes tes redirections
                </li>
                <li>
                    Rediriger d'éventuels emails vers depart@beta.gouv.fr, ce qui enverra une réponse automatique à l'expéditeur pour l'informer que le compte n'existe plus.
                </li>
            </ul>
            <form onsubmit="const proceed = confirm('Es-tu sûr de vouloir supprimer ton compte email et ses redirections ?'); event.submitter && (event.submitter.disabled = proceed); return proceed;" class="no-margin" action="/users/<%= userInfos.id %>/email/delete" method="POST">
                <div class="form__group">
                    <button class="button margin-right-10" type="submit">Clôturer mon compte</button>
                </div>
            </form>
        </div>
    <% } %>

</div>

<%- include('partials/nav-footer'); -%>


<script>
    const form = document.getElementById("update-end-date-form");
    const formToggle = document.getElementById("update-end-date-form-toggle");
    const formCancelButton = document.getElementById("update-end-date-form-cancel-button");
    formToggle.addEventListener("click", function() {
        form.style.display = (form.style.display === "block") ? "none" : "block";
    }, false);
    formCancelButton.addEventListener("click", function() {
        form.style.display = "none";
    }, false);
</script>
