<%- include('partials/nav-header'); -%>

<div class="module">
    <div class="row">
    <div class="panel margin-top-m">
        <h3>Mise à jour de mes informations</h3>

        <div class="beta-banner"></div>

        <form action="/account/info" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
            <h4>Tes infos persos</h4>

            <div class="form__group">
                <p>
                    
                </p>
                <div class="form__group">
                    <label for="gender">
                        <strong>Genre</strong><br />
                        Cette information est utilisée uniquement pour faire des statistiques. Elle n'est pas affichée.
                    </label>
                    <select name="gender" placeholder="Sélectionne une valeur" required>
                        <!-- <option value=""></option> -->
                        <% genderOptions.forEach(function(gender) { %>
                            <option value="<%= gender.key %>" <%= (gender.key === formData.gender) ? 'selected' : '' %>><%= gender.name %></option>
                        <% }) %>
                    </select>
                    <% if(formValidationErrors['gender']) { %>
                      <p class="text-small text-color-red"><%= formValidationErrors['gender'] %></p>
                    <% } %>
                </div>
            </div>

            <div class="form__group">
                    <strong>Lieu de travail</strong><br />
                <label for="workplace_insee_code">
                    Cette information est utilisée pour faire une carte des membres de la communauté 
                    <p> Si tu résides en France (Métropolitaine/Drom) : </p>
                    <input
                        placeholder="Commune ou code postale"
                        type="text"
                        <% if(communeInfo) { %>
                            value="<%= communeInfo.nom %> (<%= communeInfo.codesPostaux[0] %>)"
                        <% } %>
                        id="input-commune" onkeyup="searchCommunes(event)">
                    <input
                        name="workplace_insee_code"
                        type="text" id="input-insee-code" value="<%= formData.workplace_insee_code %>" hidden>
                    <% if(formValidationErrors['workplace_insee_code']) { %>
                        <p class="text-small text-color-red"><%= formValidationErrors['workplace_insee_code'] %></p>
                    <% } %>
                    <ul id="list-container-city"
                    >
                    </ul>
                </label>

                <p> Si tu ne résides pas en France (Métropolitaine/Drom) : </p>
            </div>
            <div class="form__group">
                <label for="legal_status">
                    <strong>Statut legal de ton entreprise</strong><br />
                </label>
                <% statusOptions.forEach(function(legal_status) { %>
                    <input type="radio" name="legal_status" value="<%= legal_status.key %>" <%= (legal_status.key === formData.legal_status) ? 'checked' : '' %> required><%= legal_status.name %><br>
                <% }) %>
                <% if(formValidationErrors['legal_statut']) { %>
                  <p class="text-small text-color-red"><%= formValidationErrors['legal_statut'] %></p>
                <% } %>
            </div>
            <div class="form__group">
                <label for="tjm">
                    <strong>TJM moyen HT (si tu es indépendant)</strong><br />
                    Cette information est utilisée uniquement pour faire des statistiques. Elle n'est pas affichée.
                    <input
                        value="<%= formData.tjm %>"
                        id="tjm" name="tjm" type="number" placeholder="TJM moyen ht en euros">
                </label>
            </div>
            <div class="form__group">
                <label for="secondary_email">
                    <strong>Email de récupération</strong><br />
                    L'email de récupération est utile pour récupérer son mot de passe ou garder contact après ton départ.
                    <input
                        value="<%= formData.secondary_email %>"
                        id="secondary_email" name="secondary_email" type="email" placeholder="un email de recupération">
                </label>
                <% if(formValidationErrors['secondary_email']) { %>
                    <p class="text-small text-color-red"><%= formValidationErrors['secondary_email'] %></p>
                  <% } %>
            </div>
            <button class="button" type="submit">Changer ces informations</button>
        </form>
    </div>
</div>
</div>
<%- include('partials/nav-footer'); -%>
<script src="/static/scripts/searchCommune.js"></script>
