<%- include('partials/nav-header'); -%>

<link rel="stylesheet" media="screen,print" href='/static/collapse/collapse.css'>
<link rel="stylesheet" media="screen,print" href='/static/sortable/sortable.css'>
<script src="/static/sortable/sortable.js"></script>
<script src="/static/collapse/collapse.js"></script>
<style media="screen">
  .panel { overflow: scroll; }
</style>

<div class="module">
    <div class="panel panel-full-width">
        <div class="collapse">
            <h6 class="margin-10-0 collapse-header">
                <button aria-expanded="true">
                    Canaux Mattermost
                    <div class="icon fa fa-chevron-up"></div>
                </button>
            </h6>
            <div>
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Nom du Canal</th>
                            <th>But du Canal</th>
                            <th>Date Dernier message</th>
                            <th>Nb messages</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% channels.forEach(function(channel) { %>
                            <tr>
                                <td><a href="https://mattermost.incubateur.net/betagouv/channels/<%= channel.name %>">~<%= channel.name %></a></td>
                                <td><%= channel.purpose %></td>
                                <td><%= channel.last_post_at %></td>
                                <td><%= channel.total_msg_count %></td>

                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <hr />
            </div>
        </div>
    </div>
    <div class="panel panel-full-width">
        <h3>
            Ressources
        </h3>
        <p>
            Ressources et liens d'invitations privés aux ressources communes à la communauté.
        </p>

        <div class="collapse">
            <h6 class="margin-10-0 collapse-header">
                <button aria-expanded="true">
                    Bilans d'investigations
                    <div class="icon fa fa-chevron-up"></div>
                </button>
            </h6>
            <div class="collapse-content">
                <% if (investigationReportsIframeURL) { %>
                <iframe src="<%= investigationReportsIframeURL %>"
                        frameborder="0" onmousewheel="" width="100%" height="533"
                        style="background: transparent; border: 1px solid #ccc;">
                </iframe>
                <% } else { %>
                <p>
                    L'URL des bilans d'investigation n'est pas configurée.
                </p>
                <% } %>
            </div>
        </div>
    </div>

</div>
<%- include('partials/nav-footer'); -%>
<script>
    var channels = <%- JSON.stringify(channels) %>; // test is now a valid js object
    console.log(channels)
</script>
