<%- include('partials/nav-header'); -%>

<div class="module">

    <% if(isExpired && (emailInfos || (redirections && redirections.length > 0))) { %>
        <div class="panel">
            <h3>❗ Contrat de <%= userInfos.fullname %> arrivé à expiration</h3>

            <p>Le contrat de <%= userInfos.fullname %> est arrivé à terme le <strong><%= userInfos.end %></strong>.</p>
            <p>Si <%= userInfos.fullname %> a effectivement quitté la communauté, clôturez son compte :</p>
            <ul>
                <li>Clôturer son compte email</li>
                <li>Supprimer toutes ses redirections</li>
                <li>Rediriger des éventuels email vers depart@beta.gouv.fr</li>
            </ul>
            <form onsubmit="const proceed = confirm('Es-tu sûr de vouloir supprimer son compte email et ses redirections pour <%= userInfos.fullname %> ?'); event.submitter && (event.submitter.disabled = proceed); return proceed;" class="no-margin" action="/users/<%= username %>/email/delete" method="POST">
                <div class="form__group">
                    <button class="button margin-right-10" type="submit">Clôturer le compte</button>
                    <a href="https://github.com/betagouv/beta.gouv.fr/blob/master/content/_authors/<%= userInfos.id %>.md" target="_blank">Mettre à jour le contrat</a>
                </div>
            </form>
        </div>
    <% } %>

    <div class="row">
        <div class="panel panel-partial-width">
            <div class="account-split-panel">
                <% if(userInfos) { %>
                    <div>
                        <h3><%= userInfos.fullname %></h3>
                        <% if (userInfos.start) { %>
                            <p>
                                <span class="font-weight-bold">Mission :</span>
                                du <%= new Date(userInfos.start).toLocaleDateString('fr-FR') %>
                                <% if (userInfos.end) { %> au <%= new Date(userInfos.end).toLocaleDateString('fr-FR') %><% } %>
                            </p>
                        <% } %>
                        <% if (userInfos.employer) { %>
                            <p>
                                <span class="font-weight-bold">Employeur : </span> <%= userInfos.employer %>
                            </p>
                        <% } %>
                        <p>
                            <span class="font-weight-bold">Compte Github : </span>
                            <% if (userInfos.github) { %>
                                <a href="https://github.com/<%= userInfos.github %>"><%= userInfos.github %></a>
                            <% } else { %>
                                Non renseigné
                            <% } %>
                        </p>
                        <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/edit/master/content/_authors/<%= username %>.md" target="_blank">Modifier sur Github</a>

                        <p>
                            <span class="font-weight-bold">Email secondaire : </span> <%= secondaryEmail || 'Non renseigné' %>
                        </p>
                    </div>
                <% } else { %>
                    <p>Il n'y a de fiche pour ce membre sur github</p>
                    <a class="button no-margin" href="https://github.com/betagouv/beta.gouv.fr/new/master/content/_authors/?filename=<%= username %>.md" target="_blank">Créer sur Github</a>
                <% } %>
            </div>
        </div>

        <div class="panel margin-top-0">
            <% if(userInfos) { %>
                <% if(marrainageState) { %>
                    <h3>Marrainage</h3>
                    <% if (marrainageState.completed) { %>
                        <p>Marrain·e : <strong><%= marrainageState.last_onboarder %></strong>.</p>
                    <% } else { %>
                        <p>
                        Marrain·e en attente de réponse : <b><%= marrainageState.last_onboarder %></b><br>
                        Essai numéro <%= marrainageState.count %>, procédure lancé le <%= marrainageState.created_at.toLocaleDateString('fr-FR') %>, dernière mise à jour <%= marrainageState.last_updated.toLocaleDateString('fr-FR') %>.
                        </p>
                        <div class="form__group margin-10-0 display-flex">
                            <% if( Date.now() - marrainageState.last_updated.valueOf() > 24*3600*1000 ) { %>
                                <form class="margin-right-10" action="/marrainage/reload" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                    <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                                    <button class="button secondary no-margin" type="submit">Relancer</button>
                                </form>
                            <% } %>
                            <form class="margin-right-10" action="/marrainage/cancel" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                                <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                                <button class="button secondary no-margin" type="submit">Annuler</button>
                            </form>
                        </div>
                    <% } %>
                <% } else if (!isExpired) { %>
                    <!-- <h3>L'accueillir ?</h3>
                    <p>
                        <%= userInfos.fullname %> vient d'arriver dans la communauté ? Tu peux inviter quelqu'un à devenir son ou sa marrain·e.
                        Cela lui permettra de rencontrer des membres de la communauté en dehors de son équipe.
                    </p>
                    <form class="no-margin" action="/marrainage" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <div class="form__group  margin-10-0">
                            <input type="hidden" name="newcomerId" value="<%= userInfos.id %>">
                        </div>
                        <button class="button no-margin" type="submit">Chercher un·e marrain·e</button>
                    </form> -->
                <% } else { %>
                    <!-- <p>La fonction marrainage n'est pas disponible pour les comptes expirés.</p> -->
                <% } %>
            <% } else { %>
                <p>Sans fiche sur Github, la fonction marrainage n'est pas disponible.</p>
            <% } %>
        </div>
    </div>

    <div class="panel">
        <h3>Compte mail</h3>

        <% if (emailInfos) { %>
            <p class="text-color-blue font-weight-bold"><%= emailInfos.email %>
                <% if (emailInfos.isPro) { %> 
                    (offre OVH Pro)
                <% } %>
                <% if (emailInfos.isExchange) { %>
                    (offre OVH Exchange)
                <% } %>
            </p>
            <% if (isAdmin) { %>
                <% if (availableEmailPros.length && emailInfos && !emailInfos.isPro && !emailInfos.isExchange) { %>
                    <p>Il y a <%= availableEmailPros.length %> compte disponibles.</p>
                    <p>Passer ce compte en pro : </p>
                    <form class="no-margin" action="/users/<%= userInfos.id %>/email-upgrade" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                        <label>
                            <span class="text-color-almost-black">Un mot de passe pour ton compte</span><br />
                        </label>
                        <input name="password" type="password" required min="8">
                        <button class="button no-margin" type="submit">Upgrader en compte pro</button>
                    </form>
                    <br>
                    <br>
                <% } %>
            <% } %>
            <ul>
                <li>statut de l'email : <%= primaryEmailStatus %></li>
                <li>compte bloqué pour cause de spam : <%= emailInfos.isBlocked ? 'oui (contactez un.e administrat.eur.rice)' : 'non' %></li>
            </ul>
        <% } else { %>
            <% if (canCreateEmail) { %>
                <p>Tu peux créer un compte mail pour <%= userInfos.fullname %>.</p>
                <form class="no-margin" action="/users/<%= username %>/email" method="POST" onsubmit="event.submitter && (event.submitter.disabled = true);">
                    <div class="form__group  margin-10-0">
                        <label>
                            <span class="text-color-almost-black">Email personnel ou professionnel</span><br />
                            Le mot de passe et les informations de connexion seront envoyées à cet email
                        </label>
                        <input value="<%= secondaryEmail %>" name="to_email" type="email" required>
                    </div>
                    <button class="button no-margin" type="submit">Créer un compte</button>
                </form>
            <% }%>
        <% }%>
        <% if (isExpired) { %>
            <div class="notification error">
                Le compte <%= username %> est expiré.
            </div>
        <% } %>

        <h6>Redirections</h6>
        <% redirections.forEach(function(redirection) { %>
            <div class="redirection-item">
                <%= redirection.to %>
            </div>
        <% }) %>
        <% if (redirections.length === 0) { %>
            <p><strong>Aucune</strong></p>
        <% } %>
    </div>
</div>
<%- include('partials/nav-footer'); -%>
