<h1>Ton email <%= email %> est prêt !</h1>

<p>Et maintenant ? Définis un nouveau mot de passe </p>
<ul>
  <li>Étape 1 : Connecte toi sur <a href="<%= secretariatUrl %>">l'espace membre</a> avec ton email <%= secondaryEmail %></li>
  <li>Étape 2 : Definis ton mot de passe pour ton adresse @beta.gouv.fr <a href="<%= secretariatUrl %>/account#password">(Mon compte > Changer mot de passe)</a>
  <li>Etape 3 : Connecte toi à ton compte OVH sur <a href="https://mail.ovh.net/roundcube/">Webmail OVH</a>, par la suite tu pourras configurer ton email avec le client de ton choix en suivant <a href="https://doc.incubateur.net/communaute/travailler-a-beta-gouv/jutilise-les-outils-de-la-communaute/emails/envoyer-et-recevoir-des-mails-beta.gouv.fr">la doc</a>.</li>
</ul>

<p>Ton compte Mattermost va être automatiquement créé d'ici 10 à 15 mins, tu recevras sur <%= email %> les instructions pour y accéder</li>

<p>Tu peux aussi explorer la <a href="https://doc.incubateur.net/communaute/">documentation de la communauté</a> pour apprendre à nous connaître.
  Des sessions d'embarquement sont organisées tous les mois pour les nouveaux arrivants, demande quand à lieu la prochaine sur le canal Mattermost <strong>~incubateur-communauteXP</strong> !
</p>

<p>Bonne journée</p>
